# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example


/ios
credentials.json
keystore-info.txt

/datso-notifications-firebase-adminsdk-fbsvc-38759d2edb.json

*.zip

*.aab

*.log

backend/*.log


# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd


/backend/cache

/backend/test-venv
/backend/new-venv
/backend/prod-venv


/backend/.env
.env
/backend/temporal/.env
/backend/.env.docker


/backend/backup_main.py

docker-commands.txt


/backend/temporal_codes_backup_main.py


/DOCKER_COMMANDS

/backend/full_backup_main.py


/google-services.json

logs

/secrets/*





/s3_bucket_usage_report.json
/s3_bucket_usage_report.txt
/scan_s3_usage.py
*.heapsnapshot
*.jsonl

backend/test.py

backend_old
backend_old/*

backend_not_working_feb24/*
backend_not_working_feb24


backend_working_feb_25
backend_working_feb_25/*

backend_few_errors_feb25
backend_few_errors_feb25/*

.env.development
.env.production
.codex
hash.py

backend_JWT
backend_NON_JWT
.vscode/settings.json

.vercel
AvenueNXT_Backend/*
AvenueNXT_Backend